<!-- Footer -->
<div>
  <div class="container-fluid padding pt-2" id="ft">
    <div class="row">
      <div class="col-sm heading">
        <img src="/images/ww_thumbnail_reflect.png" height="30px" />
      </div>
      <div class="col-sm heading">
        Information
      </div>
      <div class="col-sm heading">
        Main Functions
      </div>
    </div>
    <hr class="light m-2" />
    <div class="row text-center">
      <div class="col-md">
        <p>
          This is a website for checking weather forcast results of locations
          all around the world. The features will be updated and developed
          continuously. If you found this website helpful, please share with
          your friends!
        </p>
      </div>

      <div class="col-md">
        <p>Team 22</p>
        <p>UET, VNU</p>
        <p>Hanoi Vietnam</p>
      </div>

      <div class="col-md">
        <p>Weather forecast</p>
        <p>Weather map</p>
        <p>Destinations introduction</p>
      </div>

      <div class="col-md-12">
        <hr class="light" />
        <div>&copy; worldwideweather.org</div>
      </div>
    </div>
  </div>
</div>
