.location-image{
    background: url("images/01.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
  color: white;
  background-color: #343a40;
}

.header h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/02.jpg");
  /* Add the blur effect */
  /* filter: blur(8px);
    -webkit-filter: blur(8px); */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero-text {
  font-size: 1.3rem;
  font-family: "Fira Sans", sans-serif;

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.hero-text h1 {
  text-shadow: 2px 2px black;
  font-size: 5rem;
  font-family: "Lobster", cursive;
}

.row {
  background-color: #343a40;
}

.logo {
  height: 30px;
}

a > .text{
    font-size: 1.3rem;
    font-family: "Fira Sans", sans-serif;

    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

a:hover{
    text-decoration: none !important;
}

#weather {
	color: #222;
	font-size: 1.1rem;
	text-align: center;
	margin: 0% !important;
	padding: 0% !important;
}
