body,
html {
  height: 100%;
  width: 100%;
  color: #222;
}

table{
  font-family: Fira Sans, sans-serif;
  font-size: large;
  margin-top: 2rem;
}

table .temp-text{
  font-size: 2rem;
}

td,th{
  border: 1px solid;
  text-align: center !important;
  border-color: #dee2e6;
  border-top-color: rgb(222, 226, 230);
  border-right-color: rgb(222, 226, 230);
  border-bottom-color: rgb(222, 226, 230);
  border-left-color: rgb(222, 226, 230);
}

.temp-box > div{
  display: inline-block;
}

table .condition{
  height: 50px;
  width: 100%;
  background-image: url("images/cloudy+sunny.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  border-radius: 30px !important;
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 120%;
  left: 0;
  right: 0;
}

.autocomplete-items::after{
  align-self: center;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #097384;
  position: absolute;
  height: 10px;
  width: 20px;
  top: -10px;
  left: 50%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #097384;
  border-bottom: 1px solid #d4d4d4;
  color: white;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #363f5a;
  color: white;
}

.autocomplete-items .first{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.autocomplete-items .last{
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #363f5a !important;
  color: #ffffff;
}

.navbar {
  padding: 0.8rem;
  padding-left: 2rem !important;
}

.navbar-brand{
	padding-left: 0px !important;
	margin-left: 0% !important;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-size: 1.1rem !important;
}

.logo {
  height: 40px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/01.jpg");
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Center and scale the image nicely */
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

.hero-text {
  font-size: 1.3rem;
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.hero-text h1 {
  text-shadow: 2px 2px black;
  font-size: 5rem;
  font-family: "Lobster", cursive;
}

.brand{
  background-image: url("images/logo_white.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 30px;
}

.anchor-button{
  color: white;
}

.anchor-button:hover{
  background-color: #363f5a !important;
  color: white;
}

.button-container {
  background-color: #097384;
  border-radius: 30px;
}

.button-container:hover > .button_icon {
  background: #363f5a !important;
  /* color: #e74c3c; */
  color: white;
}

.button_icon {
  height: 40px;
  width: 40px;
  padding: 0% !important;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  color: white;
  background-color: inherit;
}

.btn-cog{
  font-size: 30px;
  color: #097384;
}

.btn-secondary{
  background-color: transparent !important;
  color: #097384 !important;
  border: none !important;
  padding: 0 !important;
}

.loc-card{
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem 0;
  background-image: url("images/card_img_1.jpg");
}

.dropdown-menu{
  background-color: #097384 !important;
}

.dropdown-menu > .dropdown-item{
  color: white;
}

.dropdown-menu:hover{
  color: #343a40 !important;
}

.location-text{
	height: 30px;
}

.icon{
	height: 40px;
}

.weather-col{
	padding-left: 0px !important;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}
/* 
.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
 } */

.heading{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: larger;
  font-weight: bold;
  padding: 0.25rem 0;
  /* padding-bottom: 1rem; */
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 150px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0px;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

.search_input:focus {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search_input:valid {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.row{
  font-size: small !important;
}

.welcome hr {
  border-top: 1px solid #b4b4b4;
  width: 45%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.weather-bar {
	padding: 0.3rem;
	padding-left: 1.7rem !important;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #097384;
}

footer {
  background-color: #097384 !important;
  color: white;
}

footer a {
  color: white;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  margin: 0;
}

#dropdownMenuButton:hover > i{
  color: #343a40 !important;
}

#_search {
  padding: 50px;
}

#weather {
  color: #222;
  font-size: 1.1rem;
  text-align: center;
  margin: 0% !important;
  padding: 0% !important;
  font-family: Fira Sans, sans-serif;
}

#temp {
  font-size: 5rem;
  margin-bottom: 5px;
}

#map{
  margin: 0 auto;
  display: block;
}

h2 {
  text-align: center;
}

/* slideshow style */
.slideshow {
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}
/* Định dạng nội dung Caption */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

.fade:not(.show){
  opacity: 1 !important;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}