*{
  box-sizing: border-box;
}

.now{
  border-bottom: 2px white solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
    width: 25%;

  }
  li:hover{
    background-color: #12bb20;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .clear-fix::after{
      clear: both;
      content: "";
      display: table;
      width: 100%;
  }
  .xem-map{
    position: absolute;
    padding: 5px;
    width: 15%;
    color: white;
    font-family: Fira Sans, sans-serif;
    font-size: large;
    background-color: #097384;
    border: none;
    border-radius: 10px;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }
  #carousel1 .item .details{
    height: 100px;
    
  }
  .xem-map:hover{
    background-color: #343a40;
  }
  #carousel1 .item div{
    height: 250px;
  }
  
  /* .weather_info{
      float: left;
      width: 48%;
      background-image: linear-gradient(#3b5bdb,#59b6e6);
      height: 500px;
      color: aliceblue;
     text-align: center;
  } */
  .map_info{
    height: 500px;
    background-image: url('images/van-mieu-mon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #city_name{
     padding: 12px 0;
      text-align: center;
      font-size: 32px;
  }
  .weather-details{
      font-size: 2em;
      margin: 1em;
  }
  .div1{
      float: left;
      width: 45%;
      height: 100%;
      background-color: #3b5bdb;
  }
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 60px;
    height: 60px;
     top: 80vh;
     float: right;
     z-index: 10;
     background-color: chartreuse;
     border-radius: 80%;
     animation-name: example;
     animation-duration: 2s;
     animation-iteration-count: infinite;

  }
  @keyframes example{
    0%{
      background-color: chartreuse;
      transform: rotate(360deg);
      transform: translate(2px,2px);
      
    }
    50%{
      background-color: rgb(0, 255, 115);
      transform: translate(0px,0px);
    }
    100%{
      background-color: rgb(255, 115, 0);
      transform: translate(-2px,-2px);
    }

  }
  .item-title{
    font-size: 3em;
    color: black;
    font-family: Fira Sans, sans-serif;
    text-align: center;
  }
  .foot-ter{
    float: left;
    background-color: #097384;
    color: bisque;
    width: 33.33333%;
    text-align: center;
    height: 210px;
    bottom: 0;
  }
  .footer{
    clear: both;
    width: 100%;
    
  }
  .foot-ter .div{
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 0;
  }
  .foot-ter .div11{
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
  }
  
  .item-title-row{
    width: 49%;
    float: left;
    margin-right: 1%;

    
  }
  @media only screen and (max-width: 800px) {
    .foot-ter {
      float: none;
      width: 100%;
    }
    .item-title-row{
      float: none;
      width: 100%;
      margin: 0;
    }
    .weather_info, .map_info{
      float: none;
      width: 100%;
      height: 400px;
      
    }
    .map_info{
      margin: 0;
      top: 1em;
    }

    
    
  }
  .style-footer{
    background-color: #097384;
  }

  .details{
    width: 100%;
    padding: 10px 5px;
    border: none;
    background-color:lightgrey;
    color: black;
    font-size: larger;
    font-family: Fira Sans, sans-serif;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }

  .details:hover{
    background-color:#363f5a;
    color: white;
    cursor: pointer;
  }
.thanhhoa-weather,.nghean-weather,.hanam-weather,.namdinh-weather,.hatinh-weather{
  width: 100%;
  height: 350px;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
/* .item:hover{
  border: 3px solid red;
  opacity: 1;
} */

.thanhhoa-weather{
  background-image: url('images/thanhhoa.jpg');
}
.nghean-weather{
  background-image: url('images/nghean.jpg');
}
.hatinh-weather{
  background-image: url('images/hatinh.jpg');
}
.namdinh-weather{
  background-image: url('images/namdinh.jpg');
}
.hanam-weather{
  background-image: url('images/hanam.jpg');
}
.content-text{
  position: absolute;
  color: red;
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  opacity: 1;
}
.item-title-row ul{
  background-color: white;
}
.item-title-row li{
  display: block;
  float: none;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background-color: lightgrey;
  font-family: Fira Sans, sans-serif;
}
.item-title-row li:hover{
  background-color: #343a40;
}
.item-title-row li:hover .div70{
  color: white;
}
.div30{
  float: left;
  width: 40%;
  height: 100%;
}

.div70{
  float: left;
  width: 60%;
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  height: 100%;
}

/*Tuan*/

td{
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

td:hover{
  background-color: rgb(222, 226, 230); 
}

.mode-col>a{
    color:white;
}

.navbar {
  padding: 0.8rem;
  padding-left: 2rem !important;
}

.navbar-brand{
	padding-left: 0px !important;
	margin-left: 0% !important;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-size: 1.1rem !important;
}

.logo {
  height: 40px;
}

.brand{
  background-image: url("images/logo_white.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 30px;
}

.mode-bar{
  background-color: #097384;
  color: white;
}

.mode-text{
  font-family: Fira Sans, sans-serif;
  font-size: larger !important;
}

.mode-text:hover{
  color: white !important;
}

.button{
  width: 12%;
  padding: 15px;
  background-color: #dedede ;
  color: black;
  font-size: large !important;
  border-radius: 30px !important;
}

.button:hover{
  background-color: #363f5a !important;
  color: white;
}

.anchor-button{
  color: white;
}

.anchor-button:hover{
  background-color: #363f5a !important;
  color: white;
}

.button-container {
  background-color: #097384;
  border-radius: 30px;
}

.button-container:hover > .button_icon {
  background: #363f5a !important;
  /* color: #e74c3c; */
  color: white;
}

.button_icon {
  height: 40px;
  width: 40px;
  padding: 0% !important;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  color: white;
  background-color: inherit;
}

.btn-cog{
  font-size: 30px;
  color: #097384;
}

.btn-secondary{
  background-color: transparent !important;
  color: #097384 !important;
  border: none !important;
  padding: 0 !important;
}

.city-time{
  padding-top: 2rem;
  font-family: Fira Sans, sans-serif;
  font-size: large;
  text-align: center;
  color: white;
}

.city-name{
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.dropdown-menu{
  background-color: #097384 !important;
}

.dropdown-menu > .dropdown-item{
  color: white;
}

.dropdown-menu:hover{
  color: #343a40 !important;
}

.location-text{
	height: 30px;
}

.icon{
	height: 40px;
}

.weather-col{
	padding-left: 0px !important;
}

.heading{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: larger;
  font-weight: bold;
  padding: 0.25rem 0;
  /* padding-bottom: 1rem; */
}

.row{
  font-size: small !important;
}

.weather-board{
  /* background-color: #097384; */
  background-image: linear-gradient(to bottom, #097384,#0eb7d1);
  color: white;
}

.weather-bar {
	padding: 0.3rem;
	padding-left: 1.7rem !important;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #097384;
}

footer {
  background-color: #097384 !important;
  color: white;
}


footer a {
  color: white;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  margin: 0;
}

#dropdownMenuButton:hover > i{
  color: #343a40 !important;
}

#_search {
  padding: 50px;
}

#_weather {
  /* color: #222; */
  font-size: 1.1rem;
  text-align: center;
  margin: 0% !important;
  padding: 0% !important;
  font-family: Fira Sans, sans-serif;
}

h2 {
  text-align: center;
}

#temp {
  font-size: 5rem;
  margin-bottom: 5px;
  color: white;
}

.temp-box > div{
  display: inline-block;
}
