<!DOCTYPE html>
<html>
  <head>
    <!-- Require meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- local css,js -->
    <link rel="stylesheet" href="/style/landing-style.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />

    <!-- Open weather map -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:300&display=swap"
      rel="stylesheet"
    />

    <title>Landing</title>
  </head>

  <body>
    <!-- Header -->
    <div class="header-light"></div>

    <!-- Hero -->
    <div id="hero" class="hero"></div>
    <a href="index.html" target="_blank">
      <div class="hero-text">
        <h1>Worldwide weather</h1>
        <p>Global weather forcast results</p>
      </div>
    </a>

    <div class="d-flex justify-content-center m-5 pt-5 pb-5">
      <h1>Current weather around the world</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 forecast-image"></div>
      </div>
    </div>

    <div class="d-flex justify-content-center m-5 pt-5 pb-5">
      <h1>Enjoy various functions</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm function-image">
          <div class="writing-image"></div>
          <div class="description">Global weather news</div>
        </div>
        <div class="col-sm function-image">
          <div class="travel-image"></div>
          <div class="description">Travel suggestion</div>
        </div>
        <div class="col-sm function-image">
          <div class="geography-image"></div>
          <div class="description">Global weather forecast</div>
        </div>
      </div>
    </div>

    <div class="button-container d-flex justify-content-center mt-5 mb-5">
      <a href="/"class="btn button description">
        Forecast Now
      </a>
    </div>
  </body>
</html>
